@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans+Condensed:300');
*{
  box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
main#productos{
  font-family: 'Noto Sans KR', sans-serif;
  padding:5%;
  margin-top:15px;
  margin-left: 20px;
  margin-right: 20px;
}

h1{
    font-size:1.7em;
    text-transform:uppercase;
    text-align: center;
    margin-top: 30px;
    color: #189D98;
}

h1 span{
    color:lightgray;
}
.barra-opciones{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.barra-opciones a{
  color: #189D98;
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin: 5px;
  padding: 5px;
  border: 2px solid #189D98;
  background-color: #189D98;
  text-align: center;
}

section{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 3px;
  margin: 3px;
}

article.form{
    flex-wrap: wrap;
    display: flex;
    color:rgb(255, 255, 255);
    font-weight: normal;
    margin:5px;
    padding: 15px;
    background-color:rgba(44, 42, 42, 0.2);
    width: 300px;
    height: 410px;
    _justify-content: center;
    justify-content: space-between;
}

article.form img{
    height: 270px;
    margin: 15px;
    margin:auto;
}

p{
    color: rgb(49, 49, 49);
    font-weight: normal;
    line-height: 1.5;
    margin: 10px;
    text-align: left;
    text-decoration: none;
}

p.cate{
    display: none;
}

p.nom{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    size: 40px;
    color: #189D98;
    width: 100%;
}

p.prec{
    font-weight: bold;
    size: 25px;
    text-align: left;
    margin-top: 15px;
}

p.mas{
    font-weight: normal;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-size: 12px;
    border-color: white;
    border: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;

}

p.mas a{
  text-decoration: none;
  color: #189D98;

  font-weight: bold;
}

@media (min-width:767px){
  main#productos{
    padding:3%;
    }

}
@media (min-width:979px){


}
