@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans+Condensed:300');
*{
  box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
main#register{
  font-family: 'Noto Sans KR', sans-serif;
  background-image: url("../img/sra_maleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  padding:5%;
  background-position-x: center;
  margin-top:-35px;
  margin-left: 0px;
  margin-right: 0px;
}

h3{
    font-size:1.7em;
    text-transform:uppercase;
    padding-top:60px;
    color: #189D98;
}

h3 span{
    color:#ffffff;
}

div.card-header{
  display: none;
}

p.frase{
    color: rgb(49, 49, 49);
    font-weight: bold;
    line-height: 1.5;
    margin: 5px;
    max-width: 400px;
}

div.card{
  padding: 3px;
  margin: 3px;
}

div.form{
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin:10px 5px;
    padding:0px;
    background-color:rgba(44, 42, 42, 0.5);
    width: 325px;
    height: 50px;
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    align-items: center;
    _align-content: space-around;
    justify-content: space-between;
}

div.form label{
  padding: 10px;

}
div.form input{
  margin-right: 10px;
  margin-bottom:3px;
  width: 170px;
}

div.form select{
  margin-right: 10px;
  margin-bottom:3px;
  width: 170px;
  height: 21.33px;
}


button{
    background-color:rgb(32,105,137);
    padding: 15px 40px;
    color:#fff;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
button input:hover{
    background-color:rgb(39, 153, 202);
    transition: all .3s ease;
}

div.form-check{
    margin-bottom: 20px;
  }

a.btn.btn-link{
  font-size: 0.7em;
  color:#fff;
}

@media (min-width:767px){
    main#register{
        margin-top:0px;
        _background-size: cover;
        _width:100%;
        _height:50%;
    }

    div.form{
        width: 350px;
        margin:15px 5px;
        padding:10px;
    }

    h3{
        padding-top:20px;
    }

}
@media (min-width:979px){
    main#register{
        margin-top:0px;
        padding-top:20px;
    }

    div.form{
      width: 400px;
    }
}
