@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans+Condensed:300');
*{
  box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
main#producto{
  font-family: 'Noto Sans KR', sans-serif;
  padding:5%;
  margin-top:15px;
  margin-left: 20px;
  margin-right: 20px;
}

h1{
    font-size:1.5em;
    text-transform:uppercase;
    text-align: center;
    margin-top: 20px;
    color: #189D98;
}

h1 span{
    color:lightgray;
}

section.producto{
  flex-wrap: wrap;
  display: flex;
  padding: 3px;
  margin: 3px;

}

article.card{

    color:rgb(255, 255, 255);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

img#imagenProducto{
    width: 200px;
    margin: auto;
}

p.desc{
    color: rgb(49, 49, 49);
    font-weight: normal;
    line-height: 1.5;
    font-weight: normal;
    margin: 10px;
    text-decoration: none;
}

p.nom{
    font-weight: bold;
    text-transform:uppercase;
    text-align: center;
    size: 40px;
    color: #189D98;
}

p.desc{
    font-size: 12px;
    text-align: justify;
}

p.prec{
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
div.bloque {

}

form {
  text-align: center;
}
form input{
  text-align: center;
}

div.bloque button{
    background-color: rgb(32,105,137);
    padding: 5px 20px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

div.botones{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: 0px;
}

.botones input{
  background-color: white;
  margin: 10px;

}



@media (min-width:480px){
  main#producto{
    padding-top: 3%;
    margin:auto;
    width: 100%;
    align-content: center;
  }


  section.producto{
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
  }

  article.card{
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
div.bloque{
  width: 300px;
  padding-left: 30px;

}

img#imagenProducto{
      width: 200px;
      margin:0px;
  }
}

@media (min-width:979px){
  main#producto{
    padding-top: 3%;

    width:100%;
  }
  section.producto{
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
  }
  article.card{

    width: 700px;
  }

div.bloque{
  width: 400px;
}
img#imagenProducto{
      width: 200px;
  }
}

}
